// шрифты
$ff-main: Montserrat;
$ff-text: OpenSans;
$fw-main: 700;
$fw-max: 900;
$fw-min: 500;
$fw-smin:400;
$fs-xxl: 24px;
$fs-xl: 16px;
$fs-l: 13px;
$fs-m: 12px;
$fs-s: 10px;
$fs-xs: 8px;
// размеры
$max-w: 1120px;
// color
$bgc: #ffffff;
$bgcc:#EFEEF6;
$tc-dark: #1c2a39;
$tc-light: #5c6a79;
$c-active: #9e98dc;
$c-noactive: #efeef6;
$c-button: #4c3db2;
$c-in-the-cart:#EEEDF5;
$c-dotactive:#756AD3;
